#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
}

input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
}

  /* When the input field gets focus,
       change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

#list{
   font-size:  1.5em;
   margin-left: 90px;
}

.wikis{
    display: list-item; 
    
}

#page {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 20% auto 20%;
  grid-template-columns: 150px 1fr;
}

#page > header {
  grid-area: head;
  background-color: #8ca0ff;
}

#page > nav {
  grid-area: nav;
  background-color: #14e192;
}

#page > main {
  grid-area: main;
  background-color: #a3edff;
}

#page > footer {
  grid-area: foot;
  background-color: #b3b3b3;
}